.UserDialog-Wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00240e;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
}
.UserDialog{
    border-radius: 4px;
    min-width: 60%;
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35);
}
.UserDialog .signInOrSignUp nav:first-child{
    padding: 1em;
    margin-left: -2em;
}

.UserDialog .signInOrSignUp nav:first-child label{
    margin-left: 2em;
    cursor: pointer;
}
.UserDialog .signInOrSignUp .panes{
    text-align: center;   
    padding: 0 1em 1em;
}
.UserDialog .forgotPassword h3{
    padding: 1em;
}
.UserDialog .forgotPassword form{
    padding: 0 1em 1em;
}
.UserDialog form .row{
    padding: 0.3em 0;
}
.UserDialog form .row label:first-child{
    width: 4em;
}
.UserDialog form .row.actions{
    padding:0 auto;
}
.UserDialog form .row.actions button{
    margin-right: 0.5em;
}
.UserDialog button{
    font: inherit;
    padding: 0.2em;
}

/*UserDialog radio button*/
.UserDialog .signInOrSignUp .radio-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserDialog .signInOrSignUp input[type="radio"] {
    display: none;
}

.UserDialog .signInOrSignUp input[type="radio"] + label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.UserDialog .signInOrSignUp input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.UserDialog .signInOrSignUp input[type="radio"] + label span {
    background-color: #292321;
}

.UserDialog .signInOrSignUp input[type="radio"]:checked + label span {
    background-color: #626e7a;
}

.UserDialog .signInOrSignUp input[type="radio"] + label span,
.UserDialog .signInOrSignUp input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

/*UserDialog input*/

.UserDialog .signInOrSignUp .panes input,button{
    outline: none !important;
}

.UserDialog .signInOrSignUp .panes input {
	border: none;
	border-bottom: 1px solid #626e7a;
	width: 85%;
	color: #626e7a;
	text-align: center;
	font-size: 21px;
	font-weight:100;
	margin-bottom:25px;    
}

.UserDialog .signInOrSignUp .panes ::-webkit-input-placeholder {
    color: #626e7a;
	font-weight:100;
}

.UserDialog .signInOrSignUp .panes :-moz-placeholder {
    color: #626e7a;  
	font-weight:100;
}

.UserDialog .signInOrSignUp .panes ::-moz-placeholder {
    color: #626e7a;  
	font-weight:100;
}

.UserDialog .signInOrSignUp .panes :-ms-input-placeholder {  
    color: #626e7a; 
	font-weight:100;
}

.UserDialog .forgotPasswordFrom input,button {
    outline: none !important;
}

.UserDialog .forgotPasswordFrom input {
	border: none;
	border-bottom: 1px solid #626e7a;
	width: 100%;
	color: #626e7a;
	text-align: center;
	font-size: 21px;
	font-weight:100;
	margin-bottom:25px;    
}

.UserDialog .forgotPasswordFrom ::-webkit-input-placeholder {
    color: #626e7a;
	font-weight:100;
}

.UserDialog .forgotPasswordFrom :-moz-placeholder {
    color: #626e7a;  
	font-weight:100;
}

.UserDialog .forgotPasswordFrom ::-moz-placeholder {
    color: #626e7a;  
	font-weight:100;
}

.UserDialog .forgotPasswordFrom :-ms-input-placeholder {  
    color: #626e7a; 
	font-weight:100;
}

/*UserDialog btn*/
.UserDialog form .row.actions button {
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    outline: none;
    background: #626e7a;
    box-shadow: 0 5px 1px #626e7a;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px 30px;   
}

.UserDialog form .row.actions button:hover {
    background: #626e7a;
    box-shadow: 0 5px 1px #626e7a;
    transition: .5s;    
}

.UserDialog form .row.actions button:active {
    border-top: 5px solid white;
    box-shadow: none;
    transition: .5s;    
}